html {
	height: 94.5%;
	width: 100%;
	min-width: 900px;
	min-height: 650px;
}

body {
	height: 100%;
	width: 100%;
	margin: 0px;
	padding: 0px;
}

#map {
	height: 100%;
	width: 100%;
}

.drawing {
	cursor: crosshair;
}

/**
 绘图工具样式
 **/
.BMapLib_Drawing_panel {
	height: 47px;
	border: 1px solid #666;
	border-radius: 5px;
	overflow: hidden;
	box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.3);
	float: left
}

.BMapLib_Drawing .BMapLib_box {
	border-right: 1px solid #d2d2d2;
	float: left;
	height: 100%;
	width: 64px;
	height: 100%;
	background-image: url(http://api.map.baidu.com/library/DrawingManager/1.4/src/bg_drawing_tool.png);
	cursor: pointer
}

.BMapLib_Drawing .BMapLib_last {
	border-right: 0
}

.BMapLib_Drawing .BMapLib_hander {
	background-position: 0 0
}

.BMapLib_Drawing .BMapLib_hander_hover {
	background-position: 0 -52px
}

.BMapLib_Drawing .BMapLib_marker {
	background-position: -65px 0
}

.BMapLib_Drawing .BMapLib_marker_hover {
	background-position: -65px -52px
}

.BMapLib_Drawing .BMapLib_circle {
	background-position: -130px 0
}

.BMapLib_Drawing .BMapLib_circle_hover {
	background-position: -130px -52px
}

.BMapLib_Drawing .BMapLib_polyline {
	background-position: -195px 0
}

.BMapLib_Drawing .BMapLib_polyline_hover {
	background-position: -195px -52px
}

.BMapLib_Drawing .BMapLib_polygon {
	background-position: -260px 0
}

.BMapLib_Drawing .BMapLib_polygon_hover {
	background-position: -260px -52px
}

.BMapLib_Drawing .BMapLib_rectangle {
	background-position: -325px 0
}

.BMapLib_Drawing .BMapLib_rectangle_hover {
	background-position: -325px -52px
}

/**
 城市列表样式
 **/
.cityList {
	height: 320px;
	width: 372px;
	overflow-y: auto;
}

.map_popup {
	position: absolute;
	z-index: 200000;
	width: 382px;
	height: 344px;
	top: 20px;
}

.map_popup .popup_main {
	background: #fff;
	border: 1px solid #8BA4D8;
	height: 100%;
	overflow: hidden;
	position: absolute;
	width: 100%;
	z-index: 2;
}

.map_popup .title {
	background: url("http://map.baidu.com/img/popup_title.gif") repeat scroll 0 0 transparent;
	color: #6688CC;
	font-size: 12px;
	font-weight: bold;
	height: 24px;
	line-height: 25px;
	padding-left: 7px;
}

.map_popup .close {
	background: url("http://map.baidu.com/img/popup_close.gif") no-repeat scroll 0 0 transparent;
	border: 0 none;
	cursor: pointer;
	height: 12px;
	position: absolute;
	right: 4px;
	top: 6px;
	width: 12px;
}

.curcity-expand {
	font-size: 14px;
	margin-right: 2px;
	line-height: 15px;
	height: 15px;
	display: inline-block;
	color: #4c4c4c;
	text-decoration: none;
	background: url(../../Img/city_buttons_fdgjdh.png) no-repeat scroll right -146px;
	padding-right: 15px;
}

.sel_container {
	float: left;
	margin-right: 3px;
}